:root{
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --bg-search-color: #242424;
    --bg-search-input-color: #fff;
    --bg-login-subscribe-color: #a7a7a7;
    --bg-login-login-color: #000;
    --bg-playlist-container: #121212;
    --bg-playlist-text: #fff;
}